.dukaan-header {
    height: 80px;
    margin: 0;
    padding: 26px 34px 26px 32px;
    box-shadow: inset 0 -1px 0 0 #d9d9d9;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .how-to-use-box {
        padding: 3px 8px 5px;
        border-radius: 4px;
        background-color: #E8F1F6;
        display: flex;
        justify-content: center;
        align-items: center;
        .how-to-use-icon {
            width: 16px;
            height: 12px;
            background-color: #146eb4;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 500;
            font-size: 10px;
            margin-right: 6px;
        }
        .how-to-use-icon:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            bottom: -5px;
            border-right: 5px solid transparent;
            border-top: 5px solid #146eb4;
        }
        .how-to-use-text {
            margin: 0;

        }
    }
}